{{#section 'css'}}
{{/section}}

<form action="/usuario/lista" method="get">
  <section class="card">
    <div class="card-header">Filtros</div>
    <div class="card-body">
      <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
          <div class="form-group">
            <select class="form-control" name="tipo">
              <option value="" {{selected '' ./query.tipo}}>Todos os usuários</option>
              <option value="Comum" {{selected '0' ./query.tipo}}>Todos comuns</option>
              <option value="Administrador" {{selected '1' ./query.tipo}}>Todos adminstradores</option>
            </select>
          </div>
        </div>


        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-2">
          <div class="form-group">
            <select class="form-control" name="setor[id]">
              <option value="">Todos os setores</option>
              {{#each setores}}
              <option value="{{id}}" {{selected id ../query.idSetor}}>{{nome}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5">
          <div class="form-group">
            <input class="form-control" type="search" value="{{query.nomeEmail}}" placeholder="Nome ou e-mail"
              name="nomeEmail">
          </div>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-2">
          <div class="form-group">
            <button class="btn btn-primary btn-block float-right"><i class="fa fa-search"></i> Buscar</button>
          </div>
        </div>

      </div>

    </div>
  </section>
</form>

<section class="card">
  <div class="card-header">
    Usuários
  </div>
  <div class="card-body">
    <a class="btn btn-primary float-right" href="/usuario"><i class="fa fa-plus"></i> Adicionar</a>

    {{#if usuarios}}
    <div class="table-responsive-xl">
      <table class="table table-bordered table-hover my-5">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Tipo</th>
            <th scope="col">Setor</th>
            <th scope="col">E-mail</th>
            <th scope="col" style="width: 20%" class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          {{#each usuarios}}
          <tr>
            <td>{{nome}}</td>
            <td>{{tipo}}</td>
            <td>{{setor.nome}}</td>
            <td>{{email}}</td>
            <td class="text-center">
              <a style="width: 80px;" type="button" class="btn btn-primary btn-sm my-1" value="Editar"
                href='/usuario/{{id}}'><i class="fa fa-pencil"></i> Editar</a>
              <button style="width: 80px;" type="button" class="btn btn-danger btn-sm" value="Excluir"
                onclick='excluir(this, {{id}})'><i class="fa fa-trash-o"></i> Excluir</button></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{else}}
    <div class="row">
      <div class="col text-center">
        <p style="font-size: 24px;">Nenhum registro encontrado</p>
      </div>
    </div>
    {{/if}}
  </div>
</section>


{{#section 'js'}}
<script src="/usuario/js/index.js"></script>
{{/section}}