{{#section 'css'}}
<link rel="stylesheet" href="/usuario/css/style.css">
{{/section}}

<style>
         table{
            margin-top: 50px;
            text-align: center;
            border:1px solid #ccc;
            background: #f8f8f8;
            box-sizing: border-box;
        }
        th{
            background: #069;
            color: white;
        }

        td{
            padding: 20px 40px;
            background: #ccc 1px;
        }
         .editar{
            
            color: #069;
        }
        .excluir{
            color: #069;
        }
        .add{       
        color: #069;
        float: right;
        }
</style>

    <form>

        <fieldset>
            <button id="add" class="add" type="button" value="add" >+ add novo</button>
            <legend>Lista de Usuários</legend>
            <table border="1">
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Setor</th>
                    <th>E-mail</th>
                    <th colspan="2">Modificar</th>
                </tr>
                {{#each usuarios}}
                <tr>
                    <td>{{nome}}</td>
                    <td>{{tipo}}</td>
                    <td>{{setor.nome}}</td>
                    <td>{{email}}</td>
                    <td><a type="button" class="editar" value="Editar"  href='/usuario/{{id}}'>Editar</a></td>
                    <td><button type="button" class="excluir" value="Excluir" onclick='excluir(this, {{id}})'>Excluir</button></td>
                </tr>
                {{/each}}

            </table>

        </fieldset>


    </form>


{{#section 'js'}}
<script src="/usuario/js/index.js"></script>
{{/section}}