{{#section 'css'}}
{{/section}}

<section class="card">
    <div class="card-header">Salvar Chamado</div>
    <div class="card-body">
        <form class="" action="/chamado/" method="post" id="form">

            <input type="hidden" name="id" value="{{chamado.id}}" />
            <input type="hidden" name="criadoPor[id]" value="{{chamado.criadoPor.id}}" />
            <input type="hidden" name="criadoEm" value="{{chamado.criadoEm}}" />

        {{#if chamado.id}}
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Protocolo</label>
                        <p>{{chamado.protocolo}}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Aberto por</label>
                        <p>{{chamado.criadoPor.nome}}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Setor</label>
                        <p>{{chamado.criadoPor.setor.nome}}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Aberto em</label>
                        <p id="criadoEm"></p>
                    </div>
                </div>
                 <div class="col">
                    <div class="form-group">
                        <label>Encerrado em</label>
                        <p id="encerradoEm">Em atividade</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                         <label for="tipo">Status</label>
                        <select name="status" class="form-control" id="tipo">
                            <option disabled selected value> Selecione </option>
                            <option value="1" {{selected 'VISUALIZADO' chamado.status}}>Visualizado</option>
                            <option value="2" {{selected 'ACEITO' chamado.status}}>Aceito</option>
                            <option value="4" {{selected 'ENCERRADO' chamado.status}}>Encerrado</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Prioridade</label>
                        <select name="prioridade" class="form-control" id="tipo">
                            <option disabled selected value> Selecione </option>
                            <option value="0" {{selected 'NORMAL' chamado.prioridade}}>Normal</option>
                            <option value="1" {{selected 'URGENTE' chamado.prioridade}}>Urgente</option>
                        </select>
                    </div>
                </div>
            </div>
        {{/if}}
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="problema[id]">Problema</label>
                        <select name="problema[id]" class="form-control">
                            <option disabled selected value> Selecione </option>
                            {{#each problemas}}
                            <option value={{id}} {{selected id ../chamado.problema.id}}>{{nome}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea class="form-control" name="descricao">{{chamado.descricao}}</textarea>
            </div>

            <div class="float-right">
                <a type="submit" class="btn btn-danger" href="/chamado/lista">Cancelar</a>
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
        </form>
    </div>
</section>


{{#section 'js'}}
<script>
    let criadoEm = new Date("{{chamado.criadoEm}}")
    var options = { year: 'numeric', month: 'numeric', day: 'numeric', hour:'numeric', minute:'numeric' };
    $('#criadoEm').html(criadoEm.toLocaleDateString('pt-BR', options));

    let dado = '{{chamado.encerradoEm}}'
    if(dado){
        let encerradoEm = new Date("{{chamado.encerradoEm}}")
        console.log(encerradoEm)
        var options = { year: 'numeric', month: 'numeric', day: 'numeric', hour:'numeric', minute:'numeric' };
        $('#encerradoEm').html(encerradoEm.toLocaleDateString('pt-BR', options));
    }
   

</script>
{{/section}}