{{#section 'css'}}
<style>
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;"
}
.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(169, 216, 110);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(169, 216, 110, 0);
  }
}
</style>
{{/section}}

<form action="/chamado/lista" method="get">
  <section class="card">
    <div class="card-header">Filtros</div>
    <div class="card-body">
      <div class="row">

        <div class="col-12 col-sm-12 
        {{#if session.usuario.admin}}
           col-md-6 col-lg-6 col-xl-3
        {{else}}
          col-md-12 col-lg-12 col-xl-3
        {{/if}}">

          <div class="form-group">
            <select class="form-control" name="status" id="status">
              <option value="" {{selected '' ./query.status}}>Todos os chamados</option>
              <option value="Pendente" {{selected 'Pendente' ./query.status}}>Chamados pendentes</option>
              <option value="Visualizado" {{selected 'Visualizado' ./query.status}}>Chamados visualizados</option>
              <option value="Aceito" {{selected 'Aceito' ./query.status}}>Chamados aceitos</option>
              <option value="Encerrado" {{selected 'Encerrado' ./query.status}}>Chamados encerrados</option>
            </select>
          </div>
        </div>

        {{#if session.usuario.admin}}
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-2">
          <div class="form-group">

            <select class="form-control" name="setor[id]" id="setor">
              <option value="">Todos os setores</option>
              {{#each setores}}
              <option value="{{id}}" {{selected id ../query.idSetor}}>{{nome}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        {{/if}}

        <div class="col-12 col-sm-12 col-md-12 col-lg-12  
        {{#if session.usuario.admin}}
          col-xl-3
        {{else}}
          col-xl-5
        {{/if}}">
          <div class="form-group">
            <input class="form-control" type="search" value="{{query.protocolo}}" placeholder="Protocolo"
              name="protocolo" id="protocolo">
          </div>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-2">
          <div class="form-group">
            <select class="form-control" name="limite" id="limite">
              <option value="10" {{selected '10' ./query.limite}}>10 Registros</option>
              <option value="20" {{selected '20' ./query.limite}}>20 Registros</option>
              <option value="30" {{selected '30' ./query.limite}}>30 Registros</option>
              <option value="40" {{selected '40' ./query.limite}}>40 Registros</option>
              <option value="50" {{selected '50' ./query.limite}}>50 Registros</option>
              <option value="100"{{selected '100' ./query.limite}}>100 Registros</option>
            </select>
          </div>
        </div>


      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-2">
        <div class="form-group">
          <button class="btn btn-primary btn-block float-right"><i class="fa fa-search"></i> Buscar</button>
        </div>
      </div>

    </div>

    </div>
  </section>
</form>

<section class="card">
  <div class="card-header">
    {{#unless session.usuario.admin}}Meus {{/unless}}Chamados</div>
  <div class="card-body">

    {{#unless session.usuario.admin}}
    <div class="row">
      <div class="col">
        <a class="btn btn-primary float-right mb-2" href="/chamado"><i class="fa fa-plus"></i> Abrir chamado</a>
      </div>
    </div>
    {{/unless}}

    {{#if paginacao.chamados}}
    <div class="table-responsive-xl">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Protocolo</th>
            <th scope="col">Problema</th>
            {{#if session.usuario.admin}}<th scope="col">Setor</th>{{/if}}
            <th scope="col" class="text-center">Situação</span></th>
            <th scope="col" style="width: 10%;" class="text-center col-lg-4">Ações</th>
          </tr>
        </thead>
        <tbody>
          {{#each paginacao.chamados}}
          <tr>
            <th scope="row">{{incrementByPage @index ../paginacao.atual }} </th>
            <td>{{protocolo}}</td>
            <td>{{problema.nome}}</td>
            {{#if ../session.usuario.admin}}<td>{{criadoPor.setor.nome}}</td>{{/if}}
            <td class="text-center">

              <span class="circle badge
                {{#equals status 'Pendente'}} badge-secondary{{/equals}}
                {{#equals status 'Visualizado'}} badge-info {{/equals}}
                {{#equals status 'Aceito'}} badge-success pulse {{/equals}}
                {{#equals status 'Encerrado'}} badge-danger {{/equals}}
                ">
              </span>
              <span id="status-{{id}}" style="display: inline-block; width: 80px;">{{status}}</span>
            </td>
            <td class="text-center">
              <button style="width: 100px;" onclick="visualizar({{id}})"
                class="btn btn-primary btn-sm my-sm-1 mr-lg-1"><i class="fa fa-eye"></i> Visualizar</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{else}}
    <div class="row">
      <div class="col text-center">
        <p style="font-size: 24px;">Nenhum registro encontrado</p>
      </div>
    </div>
    {{/if}}


    <div class="float-right">
      <nav aria-label="Page navigation example float-right">
        <ul class="pagination float-right" id="pagination">
        </ul>
      </nav>
    </div>

  </div>

</section>

{{#section 'js'}}
<script src="/assets/js/pagination.js"></script> 
<script>
$(() => {

    paginate.create({
      "search": ['protocolo', 'setor[id]', 'limite', 'status'],
      "atual": "{{paginacao.atual}}",
      "paginas": "{{paginacao.paginas}}",
      "url": "/chamado/lista"
    }); 
  })   
  
  function visualizar(id) {
      return window.location = '/chamado/' + id
  }

</script>
{{/section}}